<!DOCTYPE html>
<html lang="ja">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="format-detection" content="telephone=no">
  <!-- SEO対策 -->
  <meta name="description" content="ここにディスクリプションを記述">
  <title>Sassテンプレート</title>
  <!-- OGP（SNS用）設定 -->
  <meta property="og:title" content="サイトタイトル">
  <meta property="og:type" content="website">
  <meta property="og:description" content="ここにディスクリプションを記述">
  <meta property="og:image" content="画像のURL">
  <!-- ファビコン -->
  <link rel="icon" href="画像のURL">
  <!-- スマホ用ファビコン 180x180 -->
  <link rel="apple-touch-icon" sizes="180x180" href="画像のURL">
  <!-- スタイルシート -->
  <link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
  <div id="wrapper">
    <header role="banner">
      <div class="l-container-lg">
        <p class="fz20 mb10 w-bold mt10">
          デフォルト設定（作業内容によって変更してください）
        </p>
        <ul>
          <li class="mb30">
            ●box-sizing: border-box;
            <br>
            例）幅300px、padding 30px、border 10px
            <br>
            <p class="box-sample mb20">
              box-sizing:border-box;
            </p>
            <p class="box-sample" style="box-sizing: content-box;">
              box-sizing:content-box;
            </p>
            <li class="mb30">
              ●breakpoint（画面幅による表示の切り替え）
              <br>
              タブレットサイズ：1024px（$bp-tablet）
              <br>
              スマホサイズ（iPad未満）：767px（$bp-mobile）
              <br>
              定義<br>
              <code>
                @mixin max-screen($break-point) {<br>
                  　　　@media screen and (max-width: $break-point) {<br>
                    　　　　　@content;<br>
                  　　　}<br>
                }
              </code>
              <br>
              挿入時のコード<br>
              <code>
                @include max-screen($break-point) {<br>
                  　　　この中にCSSを書く<br>
                }
              </code>

            </li>
          </li>
          <li class="mb30">
            ●font-size: (PC版)16px　(スマホ版)14.4px;
            <br>
            基準値(PC版)10px、(スマホ版)9pxを1.6remで処理
            <br>
            font-size系のクラスは全てremを使用
          </li>
          <li class="mb30">
            ●letter-spacing: 0.05em;
            <br>
            ●line-height: 1.7;
            <br>
            ●font-family: ヒラギノ角ゴシック;
          </li>
          <li class="mb30">
            ●aタグ
            <br>
            テキスト：デフォルト黒、ホバー時下線追加
            <br>
            <a href="#">リンク</a>
            <br>
            画像：transition:0.5s; ホバー時opacity:0.8;
            <br>
            <a href="#"><img src="assets/img/dammy.jpg" alt=""></a>
          </li>
          <li class="mb30">
            ●inputボタン（Safari用）
            <br>
            Safariはデフォルトでグレーの背景がついてしまうので
            <br>
            background-color: rgba($color-white,0);
            <br>
            で削除
          </li>
        </ul>
      </div>
      <!-- /.l-container-lg -->
    </header>

    <nav role="navigation">

    </nav>

    <main role="main">
      <p class="tac w-bold fz30 m30">
        横幅指定（プリセット）
      </p>

      <article id="container">
        <div class="l-container-lg">
          <table class="mb30">
            <tr>
              <th>
                クラス
              </th>
              <th>
                効果
              </th>
            </tr>
            <tr>
              <td>
                .l-container-lg
              </td>
              <td>
                大枠を設定する（初期設定1200px）
                <br>
                指定した幅以下になると
                <br>
                margin-left:15px margin-right:15px
                <br>
                が付与される
              </td>
            </tr>
            <tr>
              <td>
                .l-container-mid
              </td>
              <td>
                中枠を設定する（初期設定1080px）
                <br>
                指定した幅以下になると
                <br>
                margin-left:15px margin-right:15px
                <br>
                が付与される
              </td>
            </tr>
            <tr>
              <td>
                .l-container-min
              </td>
              <td>
                小枠を設定する（初期設定980px）
                <br>
                指定した幅以下になると
                <br>
                margin-left:15px margin-right:15px
                <br>
                が付与される
              </td>
            </tr>
            <tr>
              <td>
                .margin-none
              </td>
              <td>
                付与されている左右のmarginを消す
              </td>
            </tr>
          </table>
        </div>
        <!-- .l-container-lg -->

        <div class="l-container-lg mb30">
          <p>
            .l-container-lg
            <br>
            大枠（初期設定1200px）
          </p>
        </div>

        <div class="l-container-lg mb30 margin-none">
          <p>
            .l-container-lg .margin-none
            <br>
            大枠（初期設定1200px）左右のmargin設定をとった場合
          </p>
        </div>

        <div class="l-container-mid mb30">
          <p>
            .l-container-mid
            <br>
            中枠（初期設定1080px）
          </p>
        </div>

        <div class="l-container-mid mb30 margin-none">
          <p>
            .l-container-mid .margin-none
            <br>
            中枠（初期設定1080px）左右のmargin設定をとった場合
          </p>
        </div>

        <div class="l-container-min mb30">
          <p>
            .l-container-min
            <br>
            小枠（初期設定980px）
          </p>
        </div>

        <div class="l-container-min mb30 margin-none">
          <p>
            .l-container-min .margin-none
            <br>
            小枠（初期設定980px）左右のmargin設定をとった場合
          </p>
        </div>
      </article>


      <article id="section">
        <p class="tac w-bold fz30 m30">
          縦幅指定（プリセット）
        </p>

        <div class="l-container-lg">
          <table class="mb30">
            <tr>
              <th>
                クラス
              </th>
              <th>
                効果
              </th>
            </tr>
            <tr>
              <td>
                .l-section-lg
              </td>
              <td>
                上下のpaddingを設定する（初期設定80px）<br>
                ※レスポンシブ（〜767px）で数値が半分になる
              </td>
            </tr>
            <tr>
              <td>
                .l-section-mid
              </td>
              <td>
                上下のpaddingを設定する（初期設定60px）<br>
                ※レスポンシブ（〜767px）で数値が半分になる
              </td>
            </tr>
            <tr>
              <td>
                .l-section-min
              </td>
              <td>
                上下のpaddingを設定する（初期設定40px）<br>
                ※レスポンシブ（〜767px）で数値が半分になる
              </td>
            </tr>
          </table>
        </div>
        <!-- .l-container-lg -->

        <div class="l-container-lg l-section-lg bg-yellow">
          <p>
            .l-section-lg
            <br>
            上下padding80px
          </p>
        </div>

        <div class="l-container-lg l-section-mid bg-blue">
          <p>
            .l-section-mid
            <br>
            上下padding60px
          </p>
        </div>

        <div class="l-container-lg l-section-min mb30 bg-yellow">
          <p>
            .l-section-min
            <br>
            上下padding40px
          </p>
        </div>

      </article>


      <article id="per-wigth">
        <p class="tac w-bold fz30 m30">
          横幅指定（パーセンテージ）
        </p>

      </article>
      <div class="l-wrap-90p bg-blue mb30">
        <p>
          .l-wrap-90p
          <br>
          幅90％
        </p>
      </div>
      <!-- /.l-wrap-90p -->

      <div class="l-wrap-80p bg-blue mb30">
        <p>
          .l-wrap-80p
          <br>
          幅80％
        </p>
      </div>
      <!-- /.l-wrap-80p -->

      <div class="l-wrap-70p bg-blue mb30">
        <p>
          .l-wrap-70p
          <br>
          幅70％
        </p>
      </div>
      <!-- /.l-wrap-70p -->

      <div class="l-wrap-60p bg-blue mb30">
        <p>
          .l-wrap-60p
          <br>
          幅60％
        </p>
      </div>
      <!-- /.l-wrap-60p -->

      <div class="l-wrap-50p bg-blue mb30">
        <p>
          .l-wrap-50p
          <br>
          幅50％
        </p>
      </div>
      <!-- /.l-wrap-50p -->

      <div class="l-wrap-40p bg-blue mb30">
        <p>
          .l-wrap-40p
          <br>
          幅40％
        </p>
      </div>
      <!-- /.l-wrap-40p -->

      <div class="l-wrap-30p bg-blue mb30">
        <p>
          .l-wrap-30p
          <br>
          幅30％
        </p>
      </div>
      <!-- /.l-wrap-30p -->

      <div class="l-wrap-20p bg-blue mb30">
        <p>
          .l-wrap-20p
          <br>
          幅20％
        </p>
      </div>
      <!-- /.l-wrap-20p -->

      <div class="l-wrap-10p bg-blue mb30">
        <p>
          .l-wrap-10p
          <br>
          幅10％
        </p>
      </div>
      <!-- /.l-wrap-10p -->

      <div class="l-container-lg bg-yellow mb30">
        指定した幅に対してのパーセンテージ<br>
        モバイルサイズで全て幅が100%になるので、適宜編集してください。
        <div class="l-wrap-90p bg-blue mb30">
          <p>
            .l-wrap-90p
            <br>
            幅90％
          </p>
        </div>
        <!-- /.l-wrap-90p -->

        <div class="l-wrap-80p bg-blue mb30">
          <p>
            .l-wrap-80p
            <br>
            幅80％
          </p>
        </div>
        <!-- /.l-wrap-80p -->

        <div class="l-wrap-70p bg-blue mb30">
          <p>
            .l-wrap-70p
            <br>
            幅70％
          </p>
        </div>
        <!-- /.l-wrap-70p -->

        <div class="l-wrap-60p bg-blue mb30">
          <p>
            .l-wrap-60p
            <br>
            幅60％
          </p>
        </div>
        <!-- /.l-wrap-60p -->

        <div class="l-wrap-50p bg-blue mb30">
          <p>
            .l-wrap-50p
            <br>
            幅50％
          </p>
        </div>
        <!-- /.l-wrap-50p -->

        <div class="l-wrap-40p bg-blue mb30">
          <p>
            .l-wrap-40p
            <br>
            幅40％
          </p>
        </div>
        <!-- /.l-wrap-40p -->

        <div class="l-wrap-30p bg-blue mb30">
          <p>
            .l-wrap-30p
            <br>
            幅30％
          </p>
        </div>
        <!-- /.l-wrap-30p -->

        <div class="l-wrap-20p bg-blue mb30">
          <p>
            .l-wrap-20p
            <br>
            幅20％
          </p>
        </div>
        <!-- /.l-wrap-20p -->

        <div class="l-wrap-10p bg-blue mb30">
          <p>
            .l-wrap-10p
            <br>
            幅10％
          </p>
        </div>
        <!-- /.l-wrap-10p -->
      </div>
      <!-- /.l-container-lg -->

      <div class="l-container-min">
        <p class="tac w-bold fz30">
          Flexbox
        </p>
        <p>
          基本形
        </p>
        <ul class="mb30 bg-gray">
          <li class="bg-red p60 fz20">1</li>
          <li class="bg-blue p20 fz14">2</li>
          <li class="bg-yellow p30 fz30">3</li>
          <li class="bg-green p50 fz24">4</li>
        </ul>
        <p class="tac w-bold fz30">
          justify-content(横並び)
        </p>
        <p>
          .l-flex-jc-fs
          <br>
          左揃え（初期値）
        </p>
        <ul class="l-flex-wrap mb30 bg-gray">
          <li class="bg-red p60 fz20">1</li>
          <li class="bg-blue p20 fz14">2</li>
          <li class="bg-yellow p30 fz30">3</li>
          <li class="bg-green p50 fz24">4</li>
        </ul>
        <p>
          .l-flex-jc-fe
          <br>
          右揃え
        </p>
        <ul class="l-flex-wrap l-flex-jc-fe mb30 bg-gray">
          <li class="bg-red p60 fz20">1</li>
          <li class="bg-blue p20 fz14">2</li>
          <li class="bg-yellow p30 fz30">3</li>
          <li class="bg-green p50 fz24">4</li>
        </ul>
        <p>
          .l-flex-jc-center
          <br>
          中央揃え
        </p>
        <ul class="l-flex-wrap l-flex-jc-center mb30 bg-gray">
          <li class="bg-red p60 fz20">1</li>
          <li class="bg-blue p20 fz14">2</li>
          <li class="bg-yellow p30 fz30">3</li>
          <li class="bg-green p50 fz24">4</li>
        </ul>
        <p>
          .l-flex-jc-sa
          <br>
          両端隙間を開けて均等配置
        </p>
        <ul class="l-flex-wrap l-flex-jc-sa mb30 bg-gray">
          <li class="bg-red p60 fz20">1</li>
          <li class="bg-blue p20 fz14">2</li>
          <li class="bg-yellow p30 fz30">3</li>
          <li class="bg-green p50 fz24">4</li>
        </ul>
        <p>
          .l-flex-jc-sb
          <br>
          両端詰めて均等配置
        </p>
        <ul class="l-flex-wrap l-flex-jc-sb mb30 bg-gray">
          <li class="bg-red p60 fz20">1</li>
          <li class="bg-blue p20 fz14">2</li>
          <li class="bg-yellow p30 fz30">3</li>
          <li class="bg-green p50 fz24">4</li>
        </ul>
        <p class="tac w-bold fz30">
          align-items(要素ごとの縦並び)
        </p>
        <p>
          .l-flex-ai-st
          <br>
          個々の高さを伸ばして一番長い高さに揃える（初期値）
        </p>
        <ul class="l-flex-wrap l-flex-ai-st mb30 bg-gray">
          <li class="bg-red p60 fz20">1</li>
          <li class="bg-blue p20 fz14">2</li>
          <li class="bg-yellow p30 fz30">3</li>
          <li class="bg-green p50 fz24">4</li>
        </ul>
        <p>
          .l-flex-ai-fs
          <br>
          上揃え
        </p>
        <ul class="l-flex-wrap l-flex-ai-fs mb30 bg-gray">
          <li class="bg-red p60 fz20">1</li>
          <li class="bg-blue p20 fz14">2</li>
          <li class="bg-yellow p30 fz30">3</li>
          <li class="bg-green p50 fz24">4</li>
        </ul>
        <p>
          .l-flex-ai-fe
          <br>
          下揃え
        </p>
        <ul class="l-flex-wrap l-flex-ai-fe mb30 bg-gray">
          <li class="bg-red p60 fz20">1</li>
          <li class="bg-blue p20 fz14">2</li>
          <li class="bg-yellow p30 fz30">3</li>
          <li class="bg-green p50 fz24">4</li>
        </ul>
        <p>
          .l-flex-ai-center
          <br>
          中央揃え
        </p>
        <ul class="l-flex-wrap l-flex-ai-center mb30 bg-gray">
          <li class="bg-red p60 fz20">1</li>
          <li class="bg-blue p20 fz14">2</li>
          <li class="bg-yellow p30 fz30">3</li>
          <li class="bg-green p50 fz24">4</li>
        </ul>
        <p>
          .l-flex-ai-bl
          <br>
          文字のベースライン揃え
        </p>
        <ul class="l-flex-wrap l-flex-ai-bl mb30 bg-gray">
          <li class="bg-red p60 fz20">1</li>
          <li class="bg-blue p20 fz14">2</li>
          <li class="bg-yellow p30 fz30">3</li>
          <li class="bg-green p50 fz24">4</li>
        </ul>
        <p class="tac w-bold fz30">
          flex-direction(要素の並び順)
        </p>
        <p>
          .l-flex-fd-row
          <br>
          横並び（初期値）
        </p>
        <ul class="l-flex-wrap l-flex-fd-row mb30 bg-gray">
          <li class="bg-red p60 fz20">1</li>
          <li class="bg-blue p20 fz14">2</li>
          <li class="bg-yellow p30 fz30">3</li>
          <li class="bg-green p50 fz24">4</li>
        </ul>
        <p>
          .l-flex-fd-rr
          <br>
          横並び右から
        </p>
        <ul class="l-flex-wrap l-flex-fd-rr mb30 bg-gray">
          <li class="bg-red p60 fz20">1</li>
          <li class="bg-blue p20 fz14">2</li>
          <li class="bg-yellow p30 fz30">3</li>
          <li class="bg-green p50 fz24">4</li>
        </ul>
        <p>
          .l-flex-fd-column
          <br>
          縦並び
        </p>
        <ul class="l-flex-wrap l-flex-fd-column mb30 bg-gray">
          <li class="bg-red p60 fz20">1</li>
          <li class="bg-blue p20 fz14">2</li>
          <li class="bg-yellow p30 fz30">3</li>
          <li class="bg-green p50 fz24">4</li>
        </ul>
        <p>
          .l-flex-fd-cr
          <br>
          縦並び下から
        </p>
        <ul class="l-flex-wrap l-flex-fd-cr mb30 bg-gray">
          <li class="bg-red p60 fz20">1</li>
          <li class="bg-blue p20 fz14">2</li>
          <li class="bg-yellow p30 fz30">3</li>
          <li class="bg-green p50 fz24">4</li>
        </ul>
        <p class="tac w-bold fz30">
          flex-wrap(要素の折り返し)
        </p>
        <p>
          .l-flex-wrap-w
          <br>
          折り返す（l-flex-wrapにて設定済み）
        </p>
        <ul class="l-flex-wrap l-flex-wrap-w mb30 bg-gray">
          <li class="bg-red p60 fz20">1</li>
          <li class="bg-blue p20 fz14">2</li>
          <li class="bg-yellow p30 fz30">3</li>
          <li class="bg-green p50 fz24">4</li>
          <li class="bg-red p60 fz20">1</li>
          <li class="bg-blue p20 fz14">2</li>
          <li class="bg-yellow p30 fz30">3</li>
          <li class="bg-green p50 fz24">4</li>
          <li class="bg-red p60 fz20">1</li>
          <li class="bg-blue p20 fz14">2</li>
          <li class="bg-yellow p30 fz30">3</li>
          <li class="bg-green p50 fz24">4</li>
        </ul>
        <p>
          .l-flex-wrap-wr
          <br>
          下から上に折り返す
        </p>
        <ul class="l-flex-wrap l-flex-wrap-wr mb30 bg-gray">
          <li class="bg-red p60 fz20">1</li>
          <li class="bg-blue p20 fz14">2</li>
          <li class="bg-yellow p30 fz30">3</li>
          <li class="bg-green p50 fz24">4</li>
          <li class="bg-red p60 fz20">1</li>
          <li class="bg-blue p20 fz14">2</li>
          <li class="bg-yellow p30 fz30">3</li>
          <li class="bg-green p50 fz24">4</li>
          <li class="bg-red p60 fz20">1</li>
          <li class="bg-blue p20 fz14">2</li>
          <li class="bg-yellow p30 fz30">3</li>
          <li class="bg-green p50 fz24">4</li>
        </ul>
        <p>
          .l-flex-nowrap
          <br>
          折り返さない
        </p>
        <ul class="l-flex-wrap l-flex-nowrap mb30 bg-gray">
          <li class="bg-red p60 fz20">1</li>
          <li class="bg-blue p20 fz14">2</li>
          <li class="bg-yellow p30 fz30">3</li>
          <li class="bg-green p50 fz24">4</li>
          <li class="bg-red p60 fz20">1</li>
          <li class="bg-blue p20 fz14">2</li>
          <li class="bg-yellow p30 fz30">3</li>
          <li class="bg-green p50 fz24">4</li>
          <li class="bg-red p60 fz20">1</li>
          <li class="bg-blue p20 fz14">2</li>
          <li class="bg-yellow p30 fz30">3</li>
          <li class="bg-green p50 fz24">4</li>
        </ul>
        <p class="tac w-bold fz30">
          分割（プリセット）
        </p>
        <p>
          2分割
        </p>
        <ul class="l-flex-wrap l-flex-jc-sb mb30 bg-gray">
          <li class="bg-blue l-flex-col-2 pt30 pb30"></li>
          <li class="bg-yellow l-flex-col-2 pt30 pb30"></li>
          <li class="bg-red l-flex-col-2 pt30 pb30"></li>
          <li class="bg-green l-flex-col-2 pt30 pb30"></li>
          <li class="bg-blue l-flex-col-2 pt30 pb30"></li>
        </ul>
        <p>
          3分割
        </p>
        <ul class="l-flex-wrap l-flex-jc-sb mb30 bg-gray">
          <li class="bg-blue l-flex-col-3 pt30 pb30"></li>
          <li class="bg-yellow l-flex-col-3 pt30 pb30"></li>
          <li class="bg-red l-flex-col-3 pt30 pb30"></li>
          <li class="bg-green l-flex-col-3 pt30 pb30"></li>
          <li class="bg-blue l-flex-col-3 pt30 pb30"></li>
        </ul>
        <p>
          4分割
        </p>
        <ul class="l-flex-wrap l-flex-jc-sb mb30 bg-gray">
          <li class="bg-blue l-flex-col-4 pt30 pb30"></li>
          <li class="bg-yellow l-flex-col-4 pt30 pb30"></li>
          <li class="bg-red l-flex-col-4 pt30 pb30"></li>
          <li class="bg-green l-flex-col-4 pt30 pb30"></li>
          <li class="bg-blue l-flex-col-4 pt30 pb30"></li>
          <li class="bg-yellow l-flex-col-4 pt30 pb30"></li>
        </ul>
      </div>
      <!-- /.l-container-min -->

      <div class="l-container-lg">
        <table class="mb30">
          <tr>
            <th>
              項目
            </th>
            <th>
              結果
            </th>
            <th>
              クラス
            </th>
          </tr>
          <tr>
            <td rowspan="5">
              margin
              <br>
              ※レスポンシブ(〜767px)で数値が半分になる
            </td>
            <td>
              全体にmarginがつく
            </td>
            <td>
              .m0 〜 .m100
              <br>
              （1px単位）
            </td>
          </tr>
          <tr>
            <td>
              margin-bottomがつく
            </td>
            <td>
              .mb0 〜 .mb100
              <br>
              （1px単位）
            </td>
          </tr>
          <tr>
            <td>
              margin-topがつく
            </td>
            <td>
              .mt0 〜 .mt100
              <br>
              （1px単位）
            </td>
          </tr>
          <tr>
            <td>
              margin-leftがつく
            </td>
            <td>
              .ml0 〜 .ml100
              <br>
              （1px単位）
            </td>
          </tr>
          <tr>
            <td>
              margin-rightがつく
            </td>
            <td>
              .mr0 〜 .mr100
              <br>
              （1px単位）
            </td>
          </tr>
          <!-- padding -->
          <tr>
            <td rowspan="5">
              padding
              <br>
              ※レスポンシブ(〜767px)で数値が半分になる
            </td>
            <td>
              全体にpaddingがつく
            </td>
            <td>
              .p0 〜 .p100
              <br>
              （1px単位）
            </td>
          </tr>
          <tr>
            <td>
              padding-bottomがつく
            </td>
            <td>
              .pb0 〜 .pb100
              <br>
              （1px単位）
            </td>
          </tr>
          <tr>
            <td>
              padding-topがつく
            </td>
            <td>
              .pt0 〜 .pt100
              <br>
              （1px単位）
            </td>
          </tr>
          <tr>
            <td>
              padding-leftがつく
            </td>
            <td>
              .pl0 〜 .pl100
              <br>
              （1px単位）
            </td>
          </tr>
          <tr>
            <td>
              padding-rightがつく
            </td>
            <td>
              .pr0 〜 .pr100
              <br>
              （1px単位）
            </td>
          </tr>

          <tr>
            <td rowspan="2">
              ディスプレイ幅による表示
            </td>
            <td>
              PCサイズ（768px〜）で表示
            </td>
            <td>
              .pc-only
            </td>
          </tr>
          <tr>
            <td>
              スマホサイズ（〜767px）で表示
            </td>
            <td>
              .sp-only
            </td>
          </tr>
        </table>

        <table class="mb30">
          <tr>
            <th>
              項目
            </th>
            <th>
              結果
            </th>
            <th>
              クラス
            </th>
          </tr>
          <!-- font-size -->
          <tr>
            <td rowspan="10">
              font-size
            </td>
            <td class="fz12">
              文字サイズ1.2rem
            </td>
            <td>
              class="fz12"
            </td>
          </tr>
          <tr>
            <td class="fz14">
              文字サイズ1.4rem
            </td>
            <td>
              class="fz14"
            </td>
          </tr>
          <tr>
            <td class="fz16">
              文字サイズ1.6rem
            </td>
            <td>
              class="fz16"
            </td>
          </tr>
          <tr>
            <td class="fz18">
              文字サイズ1.8rem
            </td>
            <td>
              class="fz18"
            </td>
          </tr>
          <tr>
            <td class="fz20">
              文字サイズ2.0rem
            </td>
            <td>
              class="fz20"
            </td>
          </tr>
          <tr>
            <td class="fz22">
              文字サイズ2.2rem
            </td>
            <td>
              class="fz22"
            </td>
          </tr>
          <tr>
            <td class="fz24">
              文字サイズ2.4rem
            </td>
            <td>
              class="fz24"
            </td>
          </tr>
          <tr>
            <td class="fz26">
              文字サイズ2.6rem
            </td>
            <td>
              class="fz26"
            </td>
          </tr>
          <tr>
            <td class="fz28">
              文字サイズ2.8rem
            </td>
            <td>
              class="fz28"
            </td>
          </tr>
          <tr>
            <td class="fz30">
              文字サイズ3.0rem
            </td>
            <td>
              class="fz30"
            </td>
          </tr>
          <tr>
            <td rowspan="3">
              文字装飾
            </td>
            <td class="bg-black w-white">
              白文字
            </td>
            <td>
              .w-white
            </td>
          </tr>
          <tr>
            <td>
              黒文字
            </td>
            <td>
              .w-black
            </td>
          </tr>
          <tr>
            <td class="w-bold">
              太文字
            </td>
            <td>
              .w-bold
            </td>
          </tr>
          <tr>
            <td rowspan="3">
              行揃え
            </td>
            <td class="tal">
              左揃え
            </td>
            <td>
              .tal
            </td>
          </tr>
          <tr>
            <td class="tac">
              中央揃え
            </td>
            <td>
              .tac
            </td>
          </tr>
          <tr>
            <td class="tar">
              右揃え
            </td>
            <td>
              .tar
            </td>
          </tr>
        </table>

        <table class="mb80">
          <tr>
            <th>
              項目
            </th>
            <th>
              結果
            </th>
            <th>
              クラス
            </th>
          </tr>
          <tr>
            <td rowspan="4">
              背景
            </td>
            <td class="bg-white">
              白
            </td>
            <td>
              .bg-white
            </td>
          </tr>
          <tr>
            <td class="bg-gray">
              グレー
            </td>
            <td>
              .bg-gray
            </td>
          </tr>
          <tr>
            <td class="bg-black w-white">
              黒
            </td>
            <td>
              .bg-black
            </td>
          </tr>
          <tr>
            <td class="bg-gra01 w-white">
              グラデーション
            </td>
            <td>
              .bg-gra01
            </td>
          </tr>
        </table>

        <p class="fz30 m30 tac">
          テーブル01
        </p>

        <table class="table01">
          <tr>
            <th>
              見出し01
            </th>
            <td>
              コンテンツ
            </td>
            <td>
              コンテンツ
            </td>
            <td>
              コンテンツ
            </td>
          </tr>
          <tr>
            <th>
              見出し02
            </th>
            <td>
              コンテンツ
            </td>
            <td>
              コンテンツ
            </td>
            <td>
              コンテンツ
            </td>
          </tr>
          <tr>
            <th>
              見出し03
            </th>
            <td>
              コンテンツ
            </td>
            <td>
              コンテンツ
            </td>
            <td>
              コンテンツ
            </td>
          </tr>
          <tr>
            <th>
              見出し04
            </th>
            <td>
              コンテンツ
            </td>
            <td>
              コンテンツ
            </td>
            <td>
              コンテンツ
            </td>
          </tr>
        </table>


        <p class="fz30 m30 tac">
          テーブル02
        </p>

        <table class="table02">
          <tr>
            <th>
              見出し01
            </th>
            <th>
              見出し02
            </th>
            <th>
              見出し03
            </th>
          </tr>
          <tr data-label="見出し01">
            <td>
              コンテンツ
            </td>
            <td>
              コンテンツ
            </td>
            <td>
              コンテンツ
            </td>
          </tr>
          <tr data-label="見出し02">
            <td>
              コンテンツ
            </td>
            <td>
              コンテンツ
            </td>
            <td>
              コンテンツ
            </td>
          </tr>
          <tr data-label="見出し03">
            <td>
              コンテンツ
            </td>
            <td>
              コンテンツ
            </td>
            <td>
              コンテンツ
            </td>
          </tr>
        </table>

        <p class="fz30 m30 tac">
          テーブル03
        </p>

        <table class="table03 mb30">
          <tr>
            <th></th>
            <th>
              見出し01
            </th>
            <th>
              見出し02
            </th>
            <th>
              見出し03
            </th>
          </tr>
          <tr>
            <td>
              A項目
            </td>
            <td data-label="見出し01">
              コンテンツ
            </td>
            <td data-label="見出し02">
              コンテンツ
            </td>
            <td data-label="見出し03">
              コンテンツ
            </td>
          </tr>
          <tr>
            <td>
              B項目
            </td>
            <td data-label="見出し01">
              コンテンツ
            </td>
            <td data-label="見出し02">
              コンテンツ
            </td>
            <td data-label="見出し03">
              コンテンツ
            </td>
          </tr>
          <tr>
            <td>
              C項目
            </td>
            <td data-label="見出し01">
              コンテンツ
            </td>
            <td data-label="見出し02">
              コンテンツ
            </td>
            <td data-label="見出し03">
              コンテンツ
            </td>
          </tr>
          <tr>
            <td>
              D項目
            </td>
            <td data-label="見出し01">
              コンテンツ
            </td>
            <td data-label="見出し02">
              コンテンツ
            </td>
            <td data-label="見出し03">
              コンテンツ
            </td>
          </tr>
        </table>
      </div>
      <!-- /.l-container-lg -->
    </main>

    <footer role="contentinfo">

    </footer>
  </div>
  <!-- /#wrapper -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="assets/js/common.js"></script>
  <!-- アナリティクス　ここから -->
  <!-- アナリティクス ここまで-->
</body>

</html>
