// ----------------------------------------
  // 単色
  // ----------------------------------------
// 白
$color-white: #fff;
// 黒
$color-black: #333;
// グレー
$color-gray: #ccc;
// ----------------------------------------


// ----------------------------------------
  // グラデーション
// ----------------------------------------

// グラデ要素1
$color-gra01-01: #20e7ae;
// グラデ要素2
$color-gra01-02: #1f3aec;
// グラデ
$color-gra01: linear-gradient(to right, $color-gra01-01 0%, $color-gra01-02 100%);
// "to right"の部分はtop,bottom,leftに変更できる
// "deg"を使って斜めのグラデーションにすることもできる

// ----------------------------------------
