// ----------------------------------------
  // 余白指定
// ----------------------------------------
@for $i from 0 through 100 {

  // ----------------------------------------
    // margin
  // ----------------------------------------
    // 全体のmargin
    .m#{$i} {
      margin: #{$i}px!important;
      @include max-screen($bp-mobile) {
        margin: calc(#{$i}px / 2)!important;
      }
    }
    // margin-top
    .mt#{$i} {
      margin-top: #{$i}px!important;
      @include max-screen($bp-mobile) {
        margin-top: calc(#{$i}px / 2)!important;
      }
    }
    // margin-bottom
    .mb#{$i} {
      margin-bottom: #{$i}px!important;
      @include max-screen($bp-mobile) {
        margin-bottom: calc(#{$i}px / 2)!important;
      }
    }
    // margin-left
    .ml#{$i} {
      margin-left: #{$i}px!important;
      @include max-screen($bp-mobile) {
        margin-left: calc(#{$i}px / 2)!important;
      }
    }
    // margin-right
    .mr#{$i} {
      margin-right: #{$i}px!important;
      @include max-screen($bp-mobile) {
        margin-right: calc(#{$i}px / 2)!important;
      }
    }
  // ----------------------------------------

  // ----------------------------------------
    // padding
  // ----------------------------------------
    // 全体のpadding
    .p#{$i} {
      padding: #{$i}px!important;
      @include max-screen($bp-mobile) {
        padding: calc(#{$i}px / 2)!important;
      }
    }
    // padding-top
    .pt#{$i} {
      padding-top: #{$i}px!important;
      @include max-screen($bp-mobile) {
        padding-top: calc(#{$i}px / 2)!important;
      }
    }
    // padding-bottom
    .pb#{$i} {
      padding-bottom: #{$i}px!important;
      @include max-screen($bp-mobile) {
        padding-bottom: calc(#{$i}px / 2)!important;
      }
    }
    // padding-left
    .pl#{$i} {
      padding-left: #{$i}px!important;
      @include max-screen($bp-mobile) {
        padding-left: calc(#{$i}px / 2)!important;
      }
    }
    // padding-right
    .pr#{$i} {
      padding-right: #{$i}px!important;
      @include max-screen($bp-mobile) {
        padding-right: calc(#{$i}px / 2)!important;
      }
    }
  }
  // ----------------------------------------
// ----------------------------------------

// ----------------------------------------
// font-size
// ----------------------------------------
.fz12 {
  font-size: 1.2rem;
}

.fz14 {
  font-size: 1.4rem;
}

.fz16 {
  font-size: 1.6rem;
}

.fz18 {
  font-size: 1.8rem;
}

.fz20 {
  font-size: 2rem;
}

.fz22 {
  font-size: 2.2rem;
}

.fz24 {
  font-size: 2.4rem;
}

.fz26 {
  font-size: 2.6rem;
}

.fz28 {
  font-size: 2.8rem;
}

.fz30 {
  font-size: 3rem;
}
// ----------------------------------------

// ----------------------------------------
// clearfix
// ----------------------------------------
.clearfix::after {
  display: block;
  clear: both;
  content: '';
}
// ----------------------------------------

// ----------------------------------------
// ウィンドウ幅による表示
// ----------------------------------------
// スマホサイズ(〜767px)のみ表示
.sp-only {
  @include max-screen($bp-mobile) {
    display: block;
  }
  @include min-screen($bp-mobile + 1) {
    display: none;
  }
}

// PCサイズ(768px〜)のみ表示
.pc-only {
  @include min-screen($bp-mobile + 1) {
    display: block;
  }
  @include max-screen($bp-mobile) {
    display: none;
  }
}
// ----------------------------------------

// ----------------------------------------
// align
// ----------------------------------------
// 中央揃え
.tac {
  text-align: center;
}
// 左揃え
.tal {
  text-align: left;
}
// 右揃え
.tar {
  text-align: right;
}
// ----------------------------------------

// ----------------------------------------
// 文字
// ----------------------------------------
// 白
.w-white {
  color: $color-white;
}
// 黒

.w-black {
  color: $color-black;
}
// 太文字

.w-bold {
  font-weight: bold;
}
// ----------------------------------------

// ----------------------------------------
// 背景
// ----------------------------------------
// 白
.bg-white {
  background-color: $color-white;
}
// 黒
.bg-black {
  background-color: $color-black;
}
// グレー
.bg-gray {
  background-color: $color-gray;
}
// グラデーション
.bg-gra01 {
  background: $color-gra01;
}
// ----------------------------------------

// ----------------------------------------
// fontawesome
// contentの中身はfontawesome公式サイトから番号を取って来てください
// classは適宜増やしてください
// ----------------------------------------
%fontawesome {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}

// beforeの場合
.fontawesome-check {
  &::before {
    @extend %fontawesome;
    content: "\f00c";
  }
}

// afterの場合
.fontawesome-pdf {
  &::after {
    @extend %fontawesome;
    content: "\f15c";
  }
}
// ----------------------------------------
